*.iml
.DS_Store
.externalNativeBuild
.gradle
/.cxx/
/.idea/libraries
/.idea/workspace.xml
/CMakeCache.txt
/CMakeFiles
/CPackConfig.cmake
/CPackSourceConfig.cmake
/Makefile
/build
/captures
/cmake_install.cmake
/gens
/grpc
/local.properties
